@font-face {
	font-family: "Dungeon";
	src: url("./font/Dungeon.ttf"); /* IE9 Compat Modes */
	src: url("./font/Dungeon.ttf") format("embedded-opentype"),
		/* IE6-IE8 */ url("./font/Dungeon.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.1em;
	color: #808080;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: #212020;
}

.not-scrollable {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

#gameLayer {
	width: 100vw;
	height: 100vh;
	font-family: Dungeon;
}

#menuLayer {
	height: 100%;
}

.btn-image {
	max-width: 50px;
	opacity: 0;
	pointer-events: none;
}

.custom-menu-btn {
	width: 500px;
	margin-bottom: 1.2em;
}

.custom-menu-btn > button {
	font-family: Dungeon;
	border-color: #808080;
	color: #808080;
	padding: 1em 1.2em 1em 1.2em;
}

.border-custom {
	border-color: #808080;
}

.custom-menu-btn:hover > button:enabled {
	background-color: #808080;
	color: #212020;
}

.custom-menu-btn:hover .btn-image {
	opacity: 1;
	pointer-events: auto;
}

.custom-btn {
	border-color: #808080;
	color: #808080;
}

.custom-btn:hover:enabled {
	background-color: #808080;
}

.custom-btn:hover:enabled > span {
	color: #212020;
}

.custom-btn.active {
	background-color: #808080;
	color: #212020;
}

#gridHolder {
	max-width: 700px;
	max-height: 700px;
	width: 100vw;
	height: 100vw;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
}

.absolute-center {
	position: absolute !important;
	top: 15px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.player-stat-img {
	max-width: 100px;
	max-height: 100px;
}

.grid-block {
	width: 7.69%;
	height: 7.69%;
	border: 0.1px solid #313131;
}

.entity {
	width: 100%;
	height: 100%;
}

.monster {
	background-image: url("entities_img/monster.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.skeleton {
	background-image: url("entities_img/skeleton.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.player {
	background-image: url("entities_img/player.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.playerPopUp {
	position: absolute;
	top: 0;
	background-color: red;
}

.break {
	flex-basis: 100%;
	width: 0;
}

.hidden {
	display: none !important;
}

#gridInformationHolder {
	display: flex;
}

#messageBox {
	position: absolute;
}

.wall {
	background-image: url("images/wall_texture.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.door {
	background-image: url("images/door.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.selectedGrid {
	border: 1px solid red;
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
	pointer-events: visible;
	opacity: 0.65;
	cursor: not-allowed !important;
}

.modal-content {
	background-color: #212020;
	color: #808080;
}

.btn-close {
	color: #fff !important;
}

#playerStatHolder {
	display: none;
}

.cursor-pointer {
	cursor: pointer !important;
}

@media only screen and (min-height: 970px) {
	#playerStatHolder {
		display: block;
	}
}
