@font-face {
	font-family: "Dungeon";
	src: url("/font/Dungeon.ttf"); /* IE9 Compat Modes */
	src: url("/font/Dungeon.TTF") format("embedded-opentype"),
		/* IE6-IE8 */ url("/font/Dungeon.TTF") format("truetype"); /* Safari, Android, iOS */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.1em;
	color: #808080;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: #212020;
}

#mainLayer {
	height: 100%;
	font-family: Dungeon;
}

#gridHolder {
	max-width: 700px;
	max-height: 700px;
	width: 100vw;
	height: 100vw;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
}

#turnInfo {
	position: absolute;
	text-align: center;
	padding-top: 10px;
	margin: 0;
}

.grid-block {
	width: 7.69%;
	height: 7.69%;
	border: 0.1px solid #313131;
}

.entity {
	width: 100%;
	height: 100%;
}

.monster {
	background-image: url("entities_img/monster.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.skeleton {
	background-image: url("entities_img/skeleton.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.player {
	background-image: url("entities_img/player.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.break {
	flex-basis: 100%;
	width: 0;
}

.hidden {
	display: none !important;
}

#gridInformationHolder {
	display: flex;
}

#messageBox {
	position: absolute;
}

.wall {
	background-image: url("images/wall_texture.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.selectedGrid {
	border: 1px solid red;
}
